// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.tektur-<uniquifier> {
  font-family: "Tektur", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}