<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MR.ALYX2 - Персонажи</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">

	<link rel="shortcut icon" href="/Mr.Alyx2/img/logo.png"> <!-- /Mr.Alyx2/img/logo.png -->

	<link rel="stylesheet" href="/Mr.Alyx2/css/header.css"> <!-- /Mr.Alyx2/css/header.css -->
	<link rel="stylesheet" href="/Mr.Alyx2/css/main.css"> <!-- /Mr.Alyx2/css/main.css -->
	<link rel="stylesheet" href="/Mr.Alyx2/css/footer.css"> <!-- /Mr.Alyx2/css/footer.css -->

	<link rel="stylesheet" href="/Mr.Alyx2/css/globalStyle.css"> <!-- /Mr.Alyx2/css/globalStyle.css -->
	<link rel="stylesheet" href="/Mr.Alyx2/css/burger.css"> <!-- /Mr.Alyx2/css/burger.css -->
	<link rel="stylesheet" href="/Mr.Alyx2/css/adaptive.css"> <!-- /Mr.Alyx2/css/adaptive.css -->
</head>
<body>
	<header>
		<div class="container">
			<div class="header__brand">
				<img src="/Mr.Alyx2/img/logo.png" alt=""> <!-- /Mr.Alyx2/img/logo.png -->
				<h2>MR.ALYX2</h2>
			</div>
			<div class="header__nav">
				<a class="nav1" href="/Mr.Alyx2/index.html">Главная</a> <!-- /Mr.Alyx2/index.html -->
				<a class="nav2" href="/Mr.Alyx2/templates/works/index.html">Работы</a> <!-- /Mr.Alyx2/templates/works/index.html -->
				<a class="nav3 currentPage" href="/Mr.Alyx2/templates/characters/index.html">Персонажи</a> <!-- /Mr.Alyx2/templates/characters/index.html -->
			</div>
			<h2 class="langSelect" onmouseover="document.getElementById('langList').style.display = 'flex';" onmouseout="setTimeout(() => {document.getElementById('langList').style.display = 'none';}, 1300)">RU</h2>
			<div id="langList">
				<h2 class="langSelect EN" onclick="localStorage.setItem('selectLangEn', 'true'); checkSelect();">EN</h2>
				<h2 class="langSelect RU" onclick="localStorage.setItem('selectLangEn', 'false'); checkSelect();">RU</h2>
			</div>

			<div id="nav-icon6">
				<span></span>
			</div>

			<div id="burger">
				<div>
					<a class="nav1" href="/Mr.Alyx2/index.html">Главная</a> <!-- /Mr.Alyx2/index.html -->
					<a class="nav2" href="/Mr.Alyx2/templates/works/index.html">Работы</a> <!-- /Mr.Alyx2/templates/works/index.html -->
					<a class="nav3 currentPage" href="/Mr.Alyx2/templates/characters/index.html">Персонажи</a> <!-- /Mr.Alyx2/templates/characters/index.html -->
				</div>
			</div>
		</div>
	</header>
	<main class="works">
		<div class="container">
			<div class="content">
				<div class="stage-1">
					<img id="img-1" src="/Mr.Alyx2/templates/characters/w1.jpg" alt=""> <!-- /Mr.Alyx2/templates/characters/w1.webp -->
					<img id="img-2" src="/Mr.Alyx2/templates/characters/w3.jpg" alt=""> <!-- /Mr.Alyx2/templates/characters/w3.webp -->
					<img id="img-3" src="/Mr.Alyx2/templates/characters/w13.jpg" alt=""> <!-- /Mr.Alyx2/templates/characters/w10.webp -->
				</div>
				<div class="stage-2">
					<img id="img-4" src="/Mr.Alyx2/templates/characters/w4.jpg" alt=""> <!-- /Mr.Alyx2/templates/characters/w4.webp -->
					<img id="img-5" src="/Mr.Alyx2/templates/characters/w6.png" alt=""> <!-- /Mr.Alyx2/templates/characters/w6.webp -->
					<img id="img-6" src="/Mr.Alyx2/templates/characters/w7.jpg" alt=""> <!-- /Mr.Alyx2/templates/characters/w7.webp -->
				</div>
				<div class="stage-3">
					<img id="img-7" src="/Mr.Alyx2/templates/characters/w9.jpg" alt=""> <!-- /Mr.Alyx2/templates/characters/w9.webp -->
					<img id="img-8" src="/Mr.Alyx2/templates/characters/w10.jpg" alt=""> <!-- /Mr.Alyx2/templates/characters/w10.webp -->
					<img id="img-9" src="/Mr.Alyx2/templates/characters/w12.jpg" alt=""> <!-- /Mr.Alyx2/templates/characters/w11.webp -->
				</div>
				<div class="stage-4">
					<img id="img-10" src="/Mr.Alyx2/templates/characters/w2.png" alt=""> <!-- /Mr.Alyx2/templates/characters/w2.webp -->
					<img id="img-11" src="/Mr.Alyx2/templates/characters/w8.png" alt=""> <!-- /Mr.Alyx2/templates/characters/w8.webp -->
					<img id="img-12" src="/Mr.Alyx2/templates/characters/w11.png" alt=""> <!-- /Mr.Alyx2/templates/characters/w11.webp -->
				</div>
				<div class="stage-5">
					<img id="img-13" src="/Mr.Alyx2/templates/characters/w5.png" alt=""> <!-- /Mr.Alyx2/templates/characters/w5.webp -->
					<img id="img-14" src="/Mr.Alyx2/templates/characters/w14.png" alt=""> <!-- /Mr.Alyx2/templates/characters/w11.webp -->
				</div>
			</div>
		</div>

		<div class="image-view" style="display: none;">
			<img src="" alt="">
			<i class="fa-solid fa-xmark"></i>
		</div>
	</main>
	<footer>
		<div class="container">
			<div class="footer__brand">
				<img src="/Mr.Alyx2/img/logo.png" alt=""> <!-- /Mr.Alyx2/img/logo.png -->
				<h2>MR.ALYX2</h2>
			</div>

			<div class="footer_links">
				<a href="https://vk.com/mr.alyx2"><i class="fa-brands fa-vk"></i></a>
				<a href="instagram.com/mr.alyx2/"><i class="fa-brands fa-square-instagram"></i></a>
				<a href="https://x.com/MrAlyx2"><i class="fa-brands fa-square-x-twitter"></i></a>
				<a href="https://t.me/tavern_mrAlyx2"><i class="fa-brands fa-telegram"></i></a>
			</div>
		</div>
	</footer>

	<script src="/Mr.Alyx2/js/langChanger.js"></script>
	<script>
		let header__logo = document.querySelector('.header__brand').querySelector('img');
		let header__title = document.querySelector('.header__brand').querySelector('h2');

		window.onload = function() {
			setTimeout(()=> {
				document.querySelector('header').style.opacity = '1'
				document.querySelector('footer').style.opacity = '1'
			}, 1000);

			setTimeout(()=> {
				header__logo.style.transition = '1s';
				header__logo.style.transform = 'translateX(0%) rotate(0deg)';
				header__logo.style.left = '0'
			}, 1200);
			setTimeout(()=> {
				document.querySelector('main').querySelector('.container').style.opacity = '1';
			}, 1200);
			setTimeout(()=> {
				header__logo.style.transition = '1s';
				header__title.style.opacity = '1';
			}, 1500);
			setTimeout(()=> {
				document.querySelector('body').style.transition = '1.3s';
				document.querySelector('body').style.backgroundSize = '100% 100%'
			}, 0);
		};
	</script> 
	<script>
		for(let i = 1; i <= 15; i++){
			document.querySelectorAll('#img-' + i).forEach(function(item) {
				item.onclick = function() {
					let image = this.src;
					document.querySelector('.image-view').style.display = 'flex';
					document.querySelector('.image-view').querySelector('img').src = image;
					document.querySelector('header').style.display = 'none';
					document.querySelector('body').style.overflow = 'hidden';

					if(10 <= i || i >= 14){
						document.querySelector('.image-view').querySelector('img').classList.add('v16x9');
						document.querySelector('.image-view').querySelector('img').classList.remove('v1x1');
					}else{
						document.querySelector('.image-view').querySelector('img').classList.add('v1x1');
						document.querySelector('.image-view').querySelector('img').classList.remove('v16x9');
					};
				};
			});
		};

		document.querySelector('.fa-solid.fa-xmark').onclick = function() {
			document.querySelector('.image-view').style.display = 'none';
			document.querySelector('header').style.display = 'flex';
			document.querySelector('body').style.overflow = 'visible';
		}

		document.addEventListener("keydown", function (e) {
			if (e.key === "Escape") {
				document.querySelector('.image-view').style.display = 'none';
				document.querySelector('header').style.display = 'flex';
				document.querySelector('body').style.overflow = 'visible';
			}
		});
	</script>
	<script src="/Mr.Alyx2/js/burger.js"></script> <!-- /Mr.Alyx2/js/burger.js -->
</body>
</html>